body{
    font-family: sans-serif;
}
header{
    background-size: cover;
    background-position: center center;
    background-image: url(../img/bg.jpg);
    background-color: rgba(0, 0, 0, 0.5);
}
.icon{
    width: 2rem;
    height: 2rem;
    background-color: rgba(0, 0, 0, 0.5);
}
.layer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}
.navbar-brand{
    padding-top: 30px;
    padding-left: 80px;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 800;
    font-style: normal;
    
}

.col-md-7 h3{
    font-size: 1.8rem;
    font-weight: 800;
    color: black;
    font-family: sans-serif;
}
.progress{
    height: 25px;
}
/* 3page */
.serve{
    box-shadow: 0px 10px 30px 4px rgba(0, 0, 0, 0.1);
}
.serve h3{
    font-size: 22px;
    font-family: sans-serif;
    font-weight: 600;
    margin-top: 15px;
    
}

.serve p{
    font-size: 15px;
}
/* 5 page */
.title h2
{
    font-size: 2.5rem;
    font-weight: 800;
    letter-spacing: 0px;
    color: black;
}
.carousel-indicators [data-bs-target]
{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: 869791;
    
    
}
/* statistics */
.stats1{
    padding: 100px 0;
}
.stats1 .number{
    display: block;
    font-weight: bold;
    font-size: 30px;
    margin-left: 10px;
    font-family: sans-serif;
}
 /* 6page */
#blog  .title h2{
    color: 343434;
}
#blog .card-title{
    font-size: 12px;
    font-weight: 600;
    font-family: sans-serif;
    
}
#blog .card-text{
    font-weight: 800;
    font-size: 18px;
    line-height: 1.6;
    font-family: sans-serif;
    color: rgb(52,52,52);
}
.card6{
    box-shadow: 0px 10px 30px 4px rgba(0, 0, 0, 0.2);
}
/* 7page */
#contact-us  .title h2{
    color: 343434;
}
.contact{
    padding: 100px 0;
}
.contact .connection{
    display: block;
    font-weight: 700;
    font-size: 16px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-family: sans-serif;
}
.contact .text-muted{
    font-size: 14px;
    line-height: 1.6;
    color: #748182;
}
.form .col-md-5{
    height: 10mm;
    border: none;
    border-radius: 4px;
    list-style: none;
    outline: none;
    background-color:rgb(244,244,300);
    
}
#text-area{
    border: none;
    border-radius: 4px;
    list-style: none;
    outline: none;
    background-color:rgb(244,244,300);

}
.buttons{
    padding-top: 0%;
    border-width: 3cm;
}